.DS_Store
.netrc

# Build
.build/
.docc-build/
DerivedData/
*.bcsymbolmap

# Xcode
xcuserdata/
*.xcworkspace/

# Swift Package Manager
.swiftpm/
Package.resolved

# IDEs
.vscode/
.idea/

# Project configuration
Local.xcconfig

# Local configuration
.claude/
Claude.md
